@import "_colors";


* { /* Gælder alt på hele siden */
  box-sizing: border-box;
}

body {
  margin: 0; /* Ingen kanter i siden af browser */
}

h1, h2, h3, h4, h5, h6 {
  margin: 0; /* Ingen ydre margen fra overskrifter */
  padding: 0; /* Ingen indre margen fra overskrifter */
}

ul, ol {
  margin: 2px 10px 2px 10px; /* Mindre margen på punkter */
  padding: 0; /* Ingen indre margen fra lister */
  list-style-position: inside; /* List punkter står på linje */
}

li {
  margin: 0; /* Ingen ydre margen fra listpunkter */
}

p {
  margin: 0; /* Ingen ydre margen fra paragraffer */
  padding: 0; /* Ingen indre margen fra paragraffer */
}

/* Sikrer billeder er responsive */
img {
  display: block; /* Billeder er et element (laver linjeskift) */
  max-width: 100%; /* Bredde må maks fylde 100% */
  height: auto; /* Højden skal tilpasse sig */
}

h1.font-weight-light {
  color: $textColor;
  font-size: 48px;
}

.navbar-nav{
  position: absolute;
}

.mt-n6 {
  margin-top: -5rem !important;
}

header {
  background: linear-gradient($imgColor, $imgColor), url("../img/bridge-header.jpg"), no-repeat;
  background-size: cover;
  background-position: center;

}

.headerpad {
  padding: 350px 0 0 0;
}

.borderWrap{
  width: 220px;
  height: 60px;
  background: $mainBlue;
}

.ctaBtn{
  background: $mainGray;
  width: 205px;
  height: 45px;
  border: none;
  margin: 0 10px;
}

.AstraBorderWrap{
  width: 220px;
  height: 60px;
  background:$mainBlue;
}
.AstraBtn{
  background:white;
  width: 205px;
  height: 45px;
  border: none;
  margin: 0 10px;
}

.icons {
  margin-left: auto;
  margin-right: auto;
  width: auto !important;
}

.iconCardBody{
  align-self: center;
  width: 60%;
}

.blue{
  border-color:$mainBlue !important;
  color:$mainBlue!important;
}
.gray-box{
  background-color: $mainGray;
}

.margin-auto{
  margin: auto;
}